DATABASE_URL=
DIRECT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NANO_BANANA_API_KEY=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://image.soook.fr
NEXT_PUBLIC_APP_URL=https://image.soook.fr
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_THEME=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
WEBHOOK_URL=https://image.soook.fr